<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body id="bg-img">
    <div class="overlay"></div>
    <div id="wrapper">
      <h1 id="mainHeader">Search Results</h1>

      <table id="table">
        <% if(data.universities[0]) {%>
        <tr>
          <% Object.keys(data.universities[0]).forEach((key) => { %>
          <th><%= key[0].toUpperCase() + key.slice(1) %></th>
          <% }); %>
        </tr>
        <% for(var i=0; i < data.universities.length; i++) { %>
        <tr dir="rtl" lang="ar">
          <td><%= data.universities[i].notes %></td>
          <td><%= data.universities[i].periodStudy %></td>
          <td><%= data.universities[i].price %></td>
          <td><%= data.universities[i].language %></td>
          <td><%= data.universities[i].educationalLevel %></td>
          <td><%= data.universities[i].branchName %></td>
          <td><%= data.universities[i].collegeName %></td>
          <td><%= data.universities[i].universityName %></td>
        </tr>
        <% } %> <% } %>
      </table>
    </div>
    <button onclick="goBack()" class="btnReturn">Return</button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
